.git
.gitignore
.turbo
.idea
.vscode
node_modules
**/node_modules
**/.next
**/dist
**/coverage
**/.cache
**/*.tsbuildinfo
**/tmp
**/.DS_Store
*.log
.env
.env.*
!.env.example
docker-compose*.local.yml
